nav {
    display: flex;
    justify-content: center;
}

.search {
    display: flex; 
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 15px;
}
